

<div class="container">

<div class="row">
    <h3 class="mt-5"><strong>Actualizar Producto</strong></h3>
    <form class="col s6" method="POST" enctype="multipart/form-data">
        <div class="row card-panel">

            @{
            Database conexion = Database.getInstancia();

            var codigo = ViewBag.Codigo_Producto;

            string Query = "SELECT * FROM Productos WHERE CodArticulo= '" +ViewBag.Codigo_Producto+"';";

            Microsoft.Data.Sqlite.SqliteDataReader lista = conexion.GetData(Query);

            while(lista.Read()){

            <div class="input-field col s12">
                <input disabled id="Codigo_Producto" type="text" class="validate" name="Codigo_Producto" value="@lista.GetString(0)">
                <label for="Codigo_Producto">Codigo Producto</label>
            </div>

            <div class="input-field col s12">
                <input id="Nombre_Producto" type="text" class="validate" name="Nombre_Producto" value="@lista.GetString(1)">
                <label for="Nombre_Producto">Nombre</label>
            </div>

            <div class="input-field col s12">
                <input id="Precio_Producto" type="text" class="validate" name="Precio_Producto" value="@lista.GetString(2)">
                <label for="Precio_Producto">Precio</label>
            </div>

            <div class="input-field col s12">
                <input id="Existencia_Producto" type="text" class="validate" name="Existencia_Producto" value="@lista.GetString(3)">
                <label for="Existencia_Producto">Existencia</label>
            </div>

            <div class="input-field col s12">
                <input id="Categoria_Producto" type="text" class="validate" name="Categoria_Producto" value="@lista.GetString(4)">
                <label for="Categoria_Producto">Categoria</label>
            </div>

            <div class="file-field input-field col s12">
                <div class="btn">
                    <span>Imagen</span>
                    <input type="file" name="file" id="Archivo">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
                }
            
            }

        </div>
        <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">update</i>Actualizar</button>
        <a class="waves-effect waves-light btn" asp-controller="Productos" asp-action="ProductoAdmin"><i class="material-icons right">arrow_back_ios</i>Volver</a>
    </form>
</div>

</div>